<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Submit_Review">
 
 <test name="Page Object Model Project">
 <classes>
 <class name="TestCases.TestBase" /> 
 <class name="TestCases.SubmitReviewTest" /> 
 </classes> 
 </test> 
 
</suite> 